#footer {
  background: $gray-darker;
  padding: 20px 0;
  color: #CCCCCC;
}
#footer ul {
  margin-top: 10px;
}
#footer .social a {
  color: $gray-light;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer .social a:hover{
  color: $yellow;
}
