<div class="jumbotron text-center features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
      <img src="images/dollar.png" alt="">
      <h2>1 200 € sur Paris</h2>
      <p>Ne claques pas 15 000 € et 2 mois d'entrée de jeu, démarre rapidement et garde de l'argent pour ton acquisition client</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-md-offest-1">
      <img src="images/globe.png" alt="">
      <h2>Si ça roule pour ton MVP, on continue</h2>
      <p>On a du recul pour ajuster la base et on empile les briques</p>
    </div>
  </div>
</div>
