<div class="container-fluid">
  <div class="jumbotron text-center features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <img src="images/dollar.png" alt="">
        <h2>1 200 €</h2>
        <p>Ne claques pas 15 000 € et 2 mois d'entrée de jeu, démarre rapidement et<br>garde de l'argent pour ton acquisition client</p>
      </div>
    </div>
  </div>
</div>
