<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-5">
        <ul class="list-inline social">
          <li><a href="https://www.facebook.com/mvp1day"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.youtube.com/watch?v=qZBHw-8PVlE&list=PLqtl7BEF9eqKoLM5ex5aywC085OzlcOKf"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
          <li class="hidden-xs"><a href="https://twitter.com/mvp1day"><i class="fa fa-twitter"></i></a></li>
          <li class="hidden-xs"><a href="https://www.instagram.com/mvp1day"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>

      <div class="hidden-xs col-sm-3 text-center", id="legal">
        <%= link_to "Mentions légales", "legal.html" %>
      </div>

      <div class="col-xs-7 col-sm-4 text-right">
        <div class="info">
          <p>François Catuhe</p>
          <p><%= mail_to "francois@mvp1day.com" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
