<div class="container">
  <h3>Mentions légales</h3>
    <h4>Editeur du site</h4>
    <p>
      Les sites mvp1day.com et mvp1jour.fr sont édités par François Catuhe, micro-entreprise, dispensée d'immatriculation au Registre du Commerce et des Sociétés, ayant son siège social au 23 cours de Verdun, 33000 Bordeaux, France.
    </p>
    <p>
      Email : francois@mvp1day.com
    </p>
    <p>
      Directeur de la publication : François Catuhe.
    </p>

    <h4>Hébergeur</h4>
    <p>
      Ce site est hébergé auprès de <a href="https://github.com/">GitHub</a>.
    </p>

    <h4>Accès à vos données à caractère personnel</h4>
    <p>
      Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez du droit d'obtenir la communication et, le cas échéant, la rectification ou la suppression des données vous concernant, en nous contactant par email.
    </p>
</div>
